/* Start Global */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: auto;
  min-width: 1000px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar,
.header,
.services,
.our-team,
.testim,
.our-projects,
.footer {
  min-width: 1000px;
}

/* End Global */

/* Start Navbar */

.navbar {
  font-size: 18px;
  height: 0;
  color: #fff;
  position: relative;
  z-index: 2;
}
.navbar .container {
  display: flex;
  align-items: center;
}

.navbar .brand {
  width: 50%;
  text-transform: uppercase;
  color: #1abc9c;
  font-weight: bold;

  font-size: 18px;
}

.navbar .links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navbar .links li {
  border-bottom: 2px solid transparent;
}

.navbar .links li a {
  color: #fff;
  text-decoration: none;
}

.navbar .links li.active a,
.navbar .links li a:hover {
  color: #1abc9c;
}

.navbar .links li.active,
.navbar .links li:hover {
  border-bottom: 2px solid #1abc9c;
}

/* End Navbar */

/* Start Header */

.header {
  background: url("../images/header2.jpg");
  position: relative;
}

.header .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
}
.header .overlay .container {
  height: 100%;
}

.header .bx-wrapper {
  height: 100%;
}

.header .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  background: none;
  height: 100% !important;
  text-align: center;
}

.header .bxslider {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.header .bxslider li {
  display: block;
}

.header .bxslider li h2 {
  font-size: 60px;
  margin-bottom: -10px;
  font-weight: bold;
}

.header .bxslider li h2 span {
  color: #1abc9c;
}

/* End Header */

/* Start Services */

.services {
  padding: 80px 20px 40px;
}

.services h2 {
  margin: 0 0 50px;
}

.services .cont {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.services .item {
  width: 31%;
  margin-bottom: 30px;
  padding: 15px;
}

.services .item i {
  color: #1abc9c;
  float: left;
  width: 30%;
}

.services .item .info {
  float: right;
  width: 70%;
}

.services .item .info h3 {
  color: #585353;
  margin-bottom: 10px;
}

.services .item .info p {
  margin-top: 0;
  color: #888;
}

.our-team {
  padding: 40px 20px;
}

.our-team .cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.our-team .cont .parag {
  width: 35%;
}
.our-team .cont .parag p {
  color: #888;
  margin-bottom: 0;
}

.our-team .box-img {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.our-team .box-img .box {
  width: 22%;
  position: relative;
}
.our-team .box div {
  height: 140px;
}
.our-team .box div img {
  width: 100%;
  height: 100%;
}

.our-team .box-img .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  line-height: 145px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(26, 188, 156, 0.8);
  display: none;
}

.our-team .box-img .box:hover .overlay {
  display: block;
}

.our-team h2 {
  padding: 0 0 15px;
}

/* End Services */

/* Start Testimonials */

.testim {
  background: url("../images/keyboard.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 80px 0;
}

.testim .t-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.testim h2 {
  font-size: 40px;
  margin: 80px 0 10px;
}

.testim q {
  font-size: 20px;
  line-height: 2;
  color: #d0d0d0;
  display: block;
  margin-top: 60px;
}

.testim p {
  font-size: 30px;
  color: #1abc9c;
}

.testim .slider > div {
  display: none;
}

.testim .slider .active {
  display: block;
}

/* End Testimoanials */

/* Start Projects */

.our-projects {
  padding: 60px 0;
}

.our-projects ul {
  margin-top: 50px;
}

.our-projects ul li {
  display: inline-block;
  border: 2px solid #d4cccc;
  color: #a7a7a7;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.our-projects ul li.selected {
  background-color: #1abc9c;
  border: 2px solid #1abc9c;
  color: #fff;
}

.our-projects .gallery {
  margin-top: 50px;
  overflow: hidden;
  height: 393px;
}
.our-projects .gallery .row > div {
  height: 181px;
}

.our-projects .gallery .row > div:not(:nth-child(3)) {
  margin-right: 3.5%;
}

.our-projects .gallery .row > div:nth-child(3) {
  margin-right: 0;
}

.our-projects .gallery .row > div {
  width: 31%;
  float: left;
  margin-bottom: 3%;
  position: relative;
}

.our-projects .gallery .row > div .over {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  line-height: 185px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(26, 188, 156, 0.9);
  display: none;
}

.our-projects .gallery .row > div .heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  display: none;
}

.our-projects .gallery .row > div:hover .over,
.our-projects .gallery .row > div:hover .heart {
  display: block;
}

.our-projects .gallery .row > div img {
  width: 100%;
}

.our-projects .shuffle li {
  cursor: pointer;
}

.our-projects .mix {
  display: none;
}

/* End Projects */

/* Start Footer */

.footer {
  background-color: #232323;
  color: #6c6c6c;
  padding: 40px 0;
  overflow: hidden;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.footer .col {
  width: 22%;
}
.footer .col h2 {
  color: #fff;
  font-size: 18px;
}

.footer .col p {
  margin-bottom: 30px;
}

.footer .col i {
  display: inline-block;
  color: #979797;
  border: 1px solid #979797;
  width: 40px;
  padding: 10px;
}

.footer .tags span {
  display: inline-block;
  color: #ccc;
  border: 1px solid #979797;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.footer .recent div {
  overflow: hidden;
  margin-bottom: 15px;
}

.footer .recent div img {
  float: left;
  margin-right: 10px;
}

.footer .recent div h4 {
  margin: 8px 0;
  color: #ccc;
}

.footer .blog ul li {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #979797;
  color: #ccc;
}

.footer .copyright {
  margin-top: 30px;
}

/* End Footer */

/* Start My Framework */

.special-heading {
  position: relative;
}

.special-heading:after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  width: 40px;
  border-bottom: 2px solid #333;
}

.separator {
  border: 1px solid #eee;
}

p {
  font-size: 16px;
  line-height: 20px;
}

/* End My Framework */
